<a href="https://colab.research.google.com/github/PseudoPythonista/nlp/blob/master/unsupervised_topic_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Objective**:
1. Determine roughly into how many topics these articles can be divided into

In [ ]:
import pandas as pd
articles = pd.read_csv("Articles.csv",encoding='latin1')
articles.head()

                                             Article  ...  NewsType
0  KARACHI: The Sindh government has decided to b...  ...  business
1  HONG KONG: Asian markets started 2015 on an up...  ...  business
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  ...  business
3  HONG KONG: Asian markets tumbled Tuesday follo...  ...  business
4  NEW YORK: US oil prices Monday slipped below $...  ...  business

[5 rows x 4 columns]

In [ ]:
articles.isnull().sum()

Article     0
Date        0
Heading     0
NewsType    0
dtype: int64

In [ ]:
articles.drop(columns=["Date","NewsType"],inplace=True)

In [ ]:
articles.shape

(2692, 2)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [ ]:
dtm = tfidf.fit_transform(articles['Article'])

In [ ]:
from sklearn.decomposition import NMF

In [ ]:
nmf_model = NMF(n_components=4)

In [ ]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=4, random_state=None, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

**Display topics**

In [ ]:
len(tfidf.get_feature_names())

16067

In [ ]:
import random
for i in range(20):
    random_word_id = random.randint(0,16066)
    print(tfidf.get_feature_names()[random_word_id])

warmup
understood
skidded
kyrgios
wearing
silly
strong1
feeding
strongtwo
suggestion
modric
posing
penetration
ronaldo
phangiso
hua
nz
angles
strongjust
275

In [ ]:
len(nmf_model.components_)

4

In [ ]:
for index,topic in enumerate(nmf_model.components_):
    print(f'THE TOP 15 WORDS FOR TOPIC #{index}')
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['india', 'economic', 'finance', 'power', 'cricket', 'year', 'rs', 'tax', 'islamabad', 'country', 'government', 'minister', 'billion', 'said', 'pakistan']


THE TOP 15 WORDS FOR TOPIC #1
['ball', 'india', 'innings', 'pakistan', 'lanka', 'series', 'wicket', 'captain', 'sri', 'cricket', 'wickets', 'match', 'runs', 'test', 'england']


THE TOP 15 WORDS FOR TOPIC #2
['brent', 'iran', 'demand', 'market', 'said', 'million', 'barrels', 'cents', 'output', 'production', 'barrel', 'opec', 'prices', 'crude', 'oil']


THE TOP 15 WORDS FOR TOPIC #3
['investors', 'stocks', 'week', 'rose', 'rate', 'shares', 'markets', 'tokyo', 'points', 'bank', 'gold', 'index', 'dollar', 'yen', 'percent']

In [ ]:
topic_results = nmf_model.transform(dtm)

In [ ]:
articles['Topic'] = topic_results.argmax(axis=1)

In [ ]:
mapper = {0:"Economy/Finance",1:"Cricket",2:"Oil",3:"Stock market"}
articles["Potential topics"] = articles["Topic"].map(mapper)

In [ ]:
pd.reset_option('^display.', silent=True)
articles.head()

                                             Article  ... Potential topics
0  KARACHI: The Sindh government has decided to b...  ...  Economy/Finance
1  HONG KONG: Asian markets started 2015 on an up...  ...     Stock market
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  ...     Stock market
3  HONG KONG: Asian markets tumbled Tuesday follo...  ...     Stock market
4  NEW YORK: US oil prices Monday slipped below $...  ...              Oil

[5 rows x 4 columns]

In [ ]:
articles["Article"][0]

'KARACHI: The Sindh government has decided to bring down public transport fares by 7 per cent due to massive reduction in petroleum product prices by the federal government, Geo News reported.Sources said reduction in fares will be applicable on public transport, rickshaw, taxi and other means of traveling.Meanwhile, Karachi Transport Ittehad (KTI) has refused to abide by the government decision.KTI President Irshad Bukhari said the commuters are charged the lowest fares in Karachi as compare to other parts of the country, adding that 80pc vehicles run on Compressed Natural Gas (CNG). Bukhari said Karachi transporters will cut fares when decrease in CNG prices will be made.                        \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n'

In [ ]:
articles["Article"][1]

'HONG KONG: Asian markets started 2015 on an upswing in limited trading on Friday, with mainland Chinese stocks surging in Hong Kong on speculation Beijing may ease monetary policy to boost slowing growth.Hong Kong rose 1.07 percent, closing 252.78 points higher at 23857.82.Seoul closed up 0.57 percent, rising 10.85 points to 1,926.44, while Sydney gained 0.46 percent, or 24.89 points, to close at 5,435.9.Singapore edged up 0.19 percent, gaining 6.39 points to 3,371.54.Markets in mainland China, Japan, Taiwan, New Zealand, the Philippines, and Thailand remained closed for holidays.With mainland bourses shut until January 5, shares in Chinese developers and financial companies surged in Hong Kong, stoked by hopes that Beijing could ease monetary policy to support lagging growth in the world´s second-largest economy.China Vanke, the country´s biggest developer by sales, leapt 10.8 percent and the People´s Insurance Company (Group) of China Ltd. was up 5.51 percent in afternoon trading.Train-builders CSR Corp. and China CNR Corp. soared -- CSR by 16.5 percent and China CNR by 16.0 percent -- extending gains on December 31 after they announced a merger agreement.China´s manufacturing growth dropped in December to its lowest level of 2014, an official survey showed Thursday, as the sector struggles with weak domestic demand.China´s official Purchasing Managers´ Index (PMI) released by the National Bureau of Statistics (NBS) came in at 50.1 last month, down from 50.3 recorded in November.The index, which tracks activity in factories and workshops, is considered a key indicator of the health of China´s economy, a major driver of global growth. A figure above 50 signals expansion, while anything below indicates contraction."Growth momentum is still insufficient," NBS said in a statement. - Investors eye US factory data -On forex markets the dollar extended gains ahead of the release of American factory data due later on Friday and following a steady stream of good news from the world´s biggest economy.The dollar bought 120.44 yen, compared to 119.44 yen in final 2014 trading on Wednesday.Wall Street toasted a banner year in 2014, with US equity markets finishing near all-time highs.The euro meanwhile slipped amid growing expectations that the European Central Bank, which meets on January 22, will start buying sovereign bonds. The single currency bought $1.2061 compared to $1.2160 in pre-holiday trade.The ECB has already used several tools to push inflation in member nations back up to the 2.0 percent annual rate it regards as healthy, including asset purchases and making cheap loans available to banks.It is also examining the possibility of large-scale purchases of sovereign debt -- so-called quantitative easing (QE) -- to help jump-start the European Union´s moribund economy.Oil prices rose on Friday, with US benchmark West Texas Intermediate for February delivery rising 44 cents to $54.07 and Brent crude for February gaining 18 cents to $57.51."The gains in Asian trading are likely because of the positive US crude stockpiles data released on Wednesday," Daniel Ang, investment analyst at Phillip Futures in Singapore, told AFP.US crude reserves fell by 1.8 million barrels in the week to December 26, the US Energy Information Administration said in its last petroleum report for 2014 released on Wednesday, boosting prices that lost nearly half their value in the second half of the year.There is growing speculation that the slide in global oil prices -- the biggest since the financial crisis in 2008 -- may have been excessive."If we do see some supply-side responses, or even if they´re anticipated over the course of this first quarter of the year, we might find that oil has in fact bottomed," Michael McCarthy, a chief strategist at CMC Markets in Sydney, told Bloomberg.Gold was at $1,182.36 an ounce, compared with $1,199.00 in end-of-year trading on Wednesday.In other markets:-- Jakarta ended up 0.30 percent, or 15.82 points, at 5,242.77.Coal firm Indo Tambangraya Megah gained 3.41 percent to 15,900 rupiah, while miner Aneka Tambang slipped 1.88 percent to 1,045 rupiah.-- Malaysia´s main stock index shed 0.48 percent, or 8.48 points, to close at 1,752.77.Malayan Banking lost 0.55 percent to 9.12 ringgit, Public Bank slipped 0.44 percent to 18.22 while Top Globe added 1.77 percent 4.60 ringgit.-- Singapore rose 0.16 percent, or 5.44 points, to 3,370.59.Agribusiness company Wilmar International gained 0.93 percent to Sg$3.27 while real estate developer Capitaland dipped 0.30 percent to Sg$3.30.-- Mumbai gained 1.38 percent, or 380.36 points, to end at 27,887.90.Housing Development Finance Corp rose 4.30 percent to 1,171.80 rupees, while Mahindra & Mahindra fell 0.92 percent to 1,224.80 rupees. (AFP)                        \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n'